{% extends 'base.html' %}

{% block header %}
<h4 id='message'>{{message}}</h4>
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Hi {{ user.name }}</h2>

<div id="user-balance">
  <p>Your current balance is: {{ user.balance }}</p>
</div>

<h2 >Here are all available tickets</h2>

<div id="tickets">
{% for ticket in tickets %}
    <div>
        <h4>{{ ticket.name }} {{ ticket.price }} {{ ticket.quantity }} {{ ticket.email }} {{ticket.date}}</h4>
    </div>
{% endfor %}
</div>

<div>
  <h4>Sell Ticket</h4>
  <form method="POST" id="form_sell" action="/sell">
    <label for="name_sell">Name:</label>
    <input type="text" id="name_sell" name="name"><br><br>
    <label for="quantity_sell">Quantity:</label>
    <input type="text" id="quantity_sell" name="quantity"><br><br>
    <label for="price_sell">Price:</label>
    <input type="text" id="price_sell" name="price"><br><br>
    <label for="exp_date_sell">Expiration date:</label>
    <input type="text" id="exp_date_sell" name="exp_date"><br><br>
    <input id="submit-sell" type="submit" value="Submit">
  </form>

  <br>
  <h4>Buy Ticket</h4>
  <form method="POST" id="form_buy" action="/buy">
    <label for="name_buy">Name:</label>
    <input type="text" id="name_buy" name="name"><br><br>
    <label for="quantity_buy">Quantity:</label>
    <input type="text" id="quantity_buy" name="quantity"><br><br>
    <input id="submit-buy" type="submit" value="Submit">
  </form>

  <br>
  <h4>Update Ticket</h4>
  <form method="POST" id="form_update" action="/update">
    <label for="name_update">Name:</label>
    <input type="text" id="name_update" name="name"><br><br>
    <label for="quantity_update">Quantity:</label>
    <input type="text" id="quantity_update" name="quantity"><br><br>
    <label for="price_update">Price:</label>
    <input type="text" id="price_update" name="price"><br><br>
    <label for="exp_date_update">Expiration date:</label>
    <input type="text" id="exp_date_update" name="exp_date"><br><br>
    <input id="submit-update" type="submit" value="Submit">
  </form>
</div>
<a id="logout-link" href='/logout'>Logout</a>
{% endblock %}
