{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Hi {{ user.name }}</h2>

<div>
  <p id="user-balance">Your current balance is: {{ user.balance }}</p>
</div>

<h2 >Here are all available tickets</h2>

<div id="tickets">
{% for ticket in tickets %}
    <div>
        <h4>{{ ticket.name }} {{ ticket.price }} {{ ticket.quantity }} {{ ticket.email }} {{ticket.date}}</h4>
    </div>
{% endfor %}
</div>

<div>
  <h4>Sell Ticket</h4>
  <form method="POST" id="form_sell" action="localhost:8081/sell">
    <label for="name">Name:</label>
    <input type="text" id="name_sell" name="name"><br><br>
    <label for="quantity">Quantity:</label>
    <input type="text" id="quantity_sell" name="quantity"><br><br>
    <label for="price">Price:</label>
    <input type="text" id="price_sell" name="price"><br><br>
    <label for="exp_date">Expiration date:</label>
    <input type="text" id="exp_date_sell" name="exp_date"><br><br>
    <input type="submit" value="Submit" id="submit_sell">
  </form>

  <br>
  <h4>Buy Ticket</h4>
  <form method="POST" id="form_buy" action="localhost:8081/buy">
    <label for="name">Name:</label>
    <input type="text" id="name_buy" name="name"><br><br>
    <label for="quantity">Quantity:</label>
    <input type="text" id="quantity_buy" name="quantity"><br><br>
    <input type="submit" value="Submit" id="submit_buy">
  </form>

  <br>
  <h4>Update Ticket</h4>
  <form method="POST" id="form_update">
    <label for="name">Name:</label>
    <input type="text" id="name_update" name="name"><br><br>
    <label for="quantity">Quantity:</label>
    <input type="text" id="quantity_update" name="quantity"><br><br>
    <label for="price">Price:</label>
    <input type="text" id="price_update" name="price"><br><br>
    <label for="exp_date">Expiration date:</label>
    <input type="text" id="exp_date_update" name="exp_date"><br><br>
    <input type="submit" value="Submit" id="submit_update">
  </form>
</div>

